<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <form action="/ta03/search" method="post">
      <input type="text" name="tag">
      <button type="submit">Search</button>
    </form>
    <% for(var i=0; i<items.length; i++) { %>
      <% if(i % 3 == 0) { %> 
        <div class="card-deck">
     <% } %>
           <div class="card cCard">
              <img src="<%= items[i].imageUrl %>" class="card-img-top cImage">
              <div class="card-body">
                 <h5 class="card-title"><%= items[i].name %></h5>
                 <h6><%= items[i].price %></h6>
                 <p class="card-text cText"><%= items[i].description %></p>
              </div>
           </div>
     <% if(i % 3 == 2) { %> 
        </div>
        <br>
     <% } %>
  <% } %>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>